.ant-tabs-nav::before {
    width: 110px;  /* Длина серой полоски */
    margin: 0 auto;
    left: 0;
    right: 0;
  }

  .main-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }